<div>
  <hr/>
  <span class="operation-category">Check a condition:</span>
  {{#each operation.damages}}
    <div class="operation-content-row">
      <div class="operation-content">
        <label for="damages.{{@index}}.formula">Formula:</label>
        <input type="text" name="damages.{{@index}}.formula" value="{{this.formula}}" placeholder="" required>
        <span class="hint">Do not include modifiers in the formula, use the 'Modifier' input below.</span>
      </div>

      <div class="operation-content">
        <label for="damages.{{@index}}.damageType">Damage Type:</label>
        <select name="damages.{{@index}}.damageType" required>
          {{#each ../choices as |name id|}}
            <option value="{{id}}" {{#if (eq ../this.damageType id)}}selected{{/if}}>{{name}}</option>
          {{/each}}
        </select>
      </div>

      <button class="operation-button" type="button" data-damage="{{@index}}" data-action="removeDamage" {{#if (lt operation.damages.length 2)}}disabled{{/if}}>Remove</button>
    </div>  

    <div class="operation-content-row">
      <div class="operation-content">
        <label for="damages.{{@index}}.penetrate">Penetrate:</label>
        <input type="checkbox" name="damages.{{@index}}.penetrate" {{#if this.penetrate}}checked{{/if}}>
      </div>

      <div class="operation-content">
        <label for="damages.{{@index}}.nonLethal">Non-Lethal:</label>  
        <input type="checkbox" name="damages.{{@index}}.nonLethal" {{#if this.nonLethal}}checked{{/if}}>
      </div>
    </div>

    <div class="operation-content-row">
      <div class="operation-content">
        <label for="damages.{{@index}}.modifier">Modifier (accepts roll-data):</label>
        <input type="text" name="damages.{{@index}}.modifier" value="{{this.modifier}}" placeholder="" />
        <span class="hint">This modifier will be added to the damage roll. It can be a number or a roll-data expression (e.g. '@pow.mod' for Power subtrait modifier)</span>
      </div>

      <div class="operation-content">
        <label for="damages.{{@index}}.range">Range:</label>
        <input type="text" name="damages.{{@index}}.range" value="{{this.range}}" placeholder="" />
        <span class="hint">Range is ALWAYS defined as '[Close]/[Far]', for melee weapons, this is between '0/0' and '3/3'.</span>
      </div>
    </div>
  {{/each}}    
  <div class="operation-content-row">
    <button class="operation-button" type="button" data-action="addDamage">Add Damage</button>
  </div>
</div>