<section class="tab attributes {{tab.cssClass}}" data-group="primary" data-tab="attributes">
  {{#if (eq actor.type "creature")}}
    <fieldset class="item-set" data-item="{{item.id}}">
      {{#if isPlay}}
        <legend>{{localize "UTOPIA.Actors.Items.Kits"}} <i class="fas fa-splotch"></i></legend>
      {{else}}
        <legend data-action="createDocument" data-document-type="talent" title="{{localize "UTOPIA.Kits.New"}}">{{localize "DOCUMENT.Create" type="Kit"}} <i class="fas fa-plus"></i></legend>
      {{/if}}
      <a data-action="openApplication" data-application="browser" data-document-type="kit"><i class="fas fa-search"></i> {{localize "UTOPIA.Actors.Actions.OpenCompendiumBrowser"}}</a>
      <div class="item-container">
        {{#each kits as |item|}} 
          {{#if ../isPlay}}
            <div class="item">
              <a class="talent" data-action="viewDocument" data-document-id="{{item.id}}">
                <span class="item-name">{{item.name}}</span>
              </a>
            </div>
          {{else}}
            <div class="item-edit">
              <div class="item">
                <a class="talent" data-action="viewDocument" data-document-id="{{item.id}}">
                  <span class="item-name">{{item.name}}</span>
                </a>
              </div>
              <div class="item-actions">
                <a class="item-delete" data-action="deleteDocument" data-document-id="{{item.id}}"><i class="fa-fw fas fa-trash"></i></a>
              </div>        
            </div>
          {{/if}}
        {{/each}}
      </div>
    </fieldset>

    <fieldset class="item-set" data-item="{{item.id}}">
      {{#if isPlay}}
        <legend>{{localize "UTOPIA.Actors.Items.Classes"}} <i class="fas fa-splotch"></i></legend>
      {{else}}
        <legend data-action="createDocument" data-document-type="talent" title="{{localize "UTOPIA.Classes.New"}}">{{localize "DOCUMENT.Create" type="Class"}} <i class="fas fa-plus"></i></legend>
      {{/if}}
      <a data-action="openApplication" data-application="browser" data-document-type="class"><i class="fas fa-search"></i> {{localize "UTOPIA.Actors.Actions.OpenCompendiumBrowser"}}</a>
      <div class="item-container">
        {{#each classes as |item|}} 
          {{#if ../isPlay}}
            <div class="item">
              <a class="talent" data-action="viewDocument" data-document-id="{{item.id}}">
                <span class="item-name">{{item.name}}</span>
              </a>
            </div>
          {{else}}
            <div class="item-edit">
              <div class="item">
                <a class="talent" data-action="viewDocument" data-document-id="{{item.id}}">
                  <span class="item-name">{{item.name}}</span>
                </a>
              </div>
              <div class="item-actions">
                <a class="item-delete" data-action="deleteDocument" data-document-id="{{item.id}}"><i class="fa-fw fas fa-trash"></i></a>
              </div>        
            </div>
          {{/if}}
        {{/each}}
      </div>
    </fieldset>
  {{/if}}

  <fieldset class="item-set" data-item="{{item.id}}">
    {{#if isPlay}}
      <legend>{{localize "UTOPIA.Actors.Items.Talents"}} <i class="fas fa-splotch"></i></legend>
    {{else}}
      <legend data-action="createDocument" data-document-type="talent" title="{{localize "UTOPIA.Talents.New"}}">{{localize "DOCUMENT.Create" type="Talent"}} <i class="fas fa-plus"></i></legend>
    {{/if}}
    {{#if (ne actor.type "creature")}}
      <a data-action="openApplication" data-application="talent-browser"><i class="fas fa-search"></i> {{localize "UTOPIA.Actors.Actions.OpenTalentTree"}}</a>
      <a data-action="openApplication" data-application="browser" data-document-type="specialistTalent"><i class="fas fa-search"></i> {{localize "UTOPIA.Actors.Actions.ViewSpecialist"}}</a>
    {{else}}
      <p>{{localize "UTOPIA.Actors.Actions.CreatureTalentsInfo"}}</p>
    {{/if}}
    <div class="item-container">
      {{#each talents as |item|}} 
        {{#if ../isPlay}}
          <div class="item">
            <a class="talent" data-action="viewDocument" data-document-id="{{item.id}}">
              <span class="item-name">{{item.name}}</span>
            </a>
          </div>
        {{else}}
          <div class="item-edit">
            <div class="item">
              <a class="talent" data-action="viewDocument" data-document-id="{{item.id}}">
                <span class="item-name">{{item.name}}</span>
              </a>
            </div>
            <div class="item-actions">
              <a class="item-delete" data-action="deleteDocument" data-document-id="{{item.id}}"><i class="fa-fw fas fa-trash"></i></a>
            </div>        
          </div>
        {{/if}}
      {{/each}}

      {{#each specialist as |item|}} 
        {{#if ../isPlay}}
          <div class="item">
            <a class="specialistTalent" data-action="viewDocument" data-document-id="{{item.id}}">
              <span class="item-name">{{item.name}}</span>
            </a>
          </div>
        {{else}}
          <div class="item-edit">
            <div class="item">
              <a class="specialistTalent" data-action="viewDocument" data-document-id="{{item.id}}">
                <span class="item-name">{{item.name}}</span>
              </a>
            </div>
            <div class="item-actions">
              <a class="item-delete" data-action="deleteDocument" data-document-id="{{item.id}}"><i class="fa-fw fas fa-trash"></i></a>
            </div>        
          </div>
        {{/if}}
      {{/each}}
    </div>
  </fieldset>

  <fieldset class="item-set" data-item="{{item.id}}">
    {{#if isPlay}}
      <legend>{{localize "UTOPIA.Actors.Items.Gear"}} <i class="fas fa-sword"></i></legend>
    {{else}}
      <legend data-action="createDocument" data-document-type="gear" title="{{localize "UTOPIA.Gear.New"}}">{{localize "DOCUMENT.Create" type="Gear"}} <i class="fas fa-plus"></i></legend>
    {{/if}}
    <a data-action="createDocument" data-document-type="gear"><i class="fas fa-hammer"></i> {{localize "UTOPIA.Actors.Actions.NewArtifice"}}</a>
    <div class="item-container">
      {{#each equipment as |item|}} 
        {{#if ../isPlay}}
          <div class="item">
            <a class="gear" data-action="viewDocument" data-document-id="{{item.id}}">
              <span class="item-name">{{item.name}}</span>
            </a>
          </div>
        {{else}}
          <div class="item-edit">
            <div class="item">
              <a class="gear" data-action="viewDocument" data-document-id="{{item.id}}">
                <span class="item-name">{{item.name}}</span>
              </a>
            </div>
            <div class="item-actions">
              <a class="item-delete" data-action="deleteDocument" data-document-id="{{item.id}}"><i class="fa-fw fas fa-trash"></i></a>
            </div>        
          </div>
        {{/if}}
      {{/each}}
    </div>
    <a data-action="createDocument" data-document-type="generic"><i class="fas fa-hammer"></i> {{localize "UTOPIA.Actors.Actions.NewGeneric"}}</a>
    <div class="item-container">
      {{#each generic as |item|}} 
        {{#if ../isPlay}}
          <div class="item">
            <a class="gear" data-action="viewDocument" data-document-id="{{item.id}}">
              <span class="item-name">{{item.name}}</span>
            </a>
          </div>
        {{else}}
          <div class="item-edit">
            <div class="item">
              <a class="gear" data-action="viewDocument" data-document-id="{{item.id}}">
                <span class="item-name">{{item.name}}</span>
              </a>
            </div>
            <div class="item-actions">
              <a class="item-delete" data-action="deleteDocument" data-document-id="{{item.id}}"><i class="fa-fw fas fa-trash"></i></a>
            </div>        
          </div>
        {{/if}}
      {{/each}}
    </div>
  </fieldset>

  <fieldset class="item-set" data-item="{{item.id}}">
    {{#if isPlay}}
      <legend>{{localize "UTOPIA.Actors.Items.Actions"}} <i class="fas fa-bolt"></i></legend>
    {{else}}
      <legend data-action="createDocument" data-document-type="action" title="{{localize "UTOPIA.Actions.New"}}">{{localize "DOCUMENT.Create" type="Action"}} <i class="fas fa-plus"></i></legend>
    {{/if}}
    <div class="item-container">

      <div class="item">
        <a data-action="roll" data-roll="weaponless"><i class="fa-fw fas fa-dice"></i> {{localize "UTOPIA.Actors.Actions.Perform"}}</a>
        <a class="action">
          <span class="item-name">Weaponless Attack</span>
        </a>
      </div>

      {{#each actions as |item|}} 
        {{#if ../isPlay}}
          <div class="item">
            <a data-action="roll" data-roll="item" data-item="{{item.id}}"><i class="fa-fw fas fa-dice"></i> {{localize "UTOPIA.Actors.Actions.Perform"}}</a>
            <a class="action" data-action="viewDocument" data-document-id="{{item.id}}">
              <span class="item-name">{{item.name}}</span>
            </a>
          </div>
        {{else}}
          <div class="item-edit">
            <div class="item">
              <a data-action="roll" data-roll="item" data-item="{{item.id}}"><i class="fa-fw fas fa-dice"></i> {{localize "UTOPIA.Actors.Actions.Perform"}}</a>
              <a class="action" data-action="viewDocument" data-document-id="{{item.id}}">
                <span class="item-name">{{item.name}}</span>
              </a>
            </div>
            <div class="item-actions">
              <a class="item-delete" data-action="deleteDocument" data-document-id="{{item.id}}"><i class="fa-fw fas fa-trash"></i></a>
            </div>        
          </div>
        {{/if}}
      {{/each}}
    </div>
  </fieldset>

  <fieldset class="item-set" data-item="{{item.id}}">
    {{#if isPlay}}
      <legend>{{localize "UTOPIA.Actors.Items.Consumables"}} <i class="fas fa-flask"></i></legend>
    {{else}}
      <legend data-action="createDocument" data-document-type="gear" title="{{localize "UTOPIA.Consumables.New"}}">{{localize "DOCUMENT.Create" type="Consumable"}} <i class="fas fa-plus"></i></legend>
    {{/if}}
    <div class="item-container">
      {{#each consumables as |item|}} 
        {{#if ../isPlay}}
          <div class="item">
            <a class="consumable" data-action="viewDocument" data-document-id="{{item.id}}">
              <span class="item-name">{{item.name}}</span>
            </a>
          </div>
        {{else}}
          <div class="item-edit">
            <div class="item">
              <a class="consumable" data-action="viewDocument" data-document-id="{{item.id}}">
                <span class="item-name">{{item.name}}</span>
              </a>
            </div>
            <div class="item-actions">
              <a class="item-delete" data-action="deleteDocument" data-document-id="{{item.id}}"><i class="fa-fw fas fa-trash"></i></a>
            </div>        
          </div>
        {{/if}}
      {{/each}}
    </div>
  </fieldset>

  <fieldset class="item-set" data-item="{{item.id}}">
    {{#if isPlay}}
      <legend>{{localize "UTOPIA.Actors.Items.Favors"}} <i class="fas fa-dice"></i></legend>
    {{else}}
      <legend data-action="createDocument" data-document-type="favor" title="{{localize "UTOPIA.Favors.New"}}">{{localize "DOCUMENT.Create" type="Favor"}} <i class="fas fa-plus"></i></legend>
    {{/if}}
    <div class="item-container">
      {{#each favors as |item|}} 
        <div class="item">
          <a class="consumable" data-action="viewDocument" data-document-id="{{item.id}}">
            <span class="item-name">{{item.name}}</span>
            {{#each item.system.conditions}}
              <span class="item-condition">[vs. {{capitalize this}}]</span>
            {{/each}}
            <span class="item-value">{{numberFormat item.system.value sign=true}}</span>
          </a>
        </div>
      {{/each}}
    </div>
  </fieldset>

  {{#if (ne actor.type "creature")}}
    <fieldset class="item-set components-container">
      <legend>{{localize "UTOPIA.Actors.Items.Components"}} <i class="fas fa-cogs"></i></legend>
      <a class="action-button" data-action="roll" data-roll="forage"><i class="fa-fw fas fa-person-digging"></i> {{localize "UTOPIA.Actors.Actions.ForageAndCrafting"}}</a>
      <div class="item-container">
        {{#if isPlay}}
          {{#each components as |component key|}}
            {{#each component.rarities as |rarity key|}}
              {{#if (gt rarity.value 0)}}
                <div class="item">
                  <span class="item-name">{{localize component.label}}</span>
                  <span class="item-rarity">{{localize rarity.label}}</span>
                  <span class="item-value">{{numberFormat rarity.value}}</span>
                </div>
              {{/if}}
            {{/each}}
          {{/each}}
        {{else}}
          <table class="components-table">
            <thead>
              <tr>
                <th></th>
                {{#each components as |component key|}}
                  {{#if @first}}
                    {{#each component.rarities as |rarity key|}}
                      <th>{{localize rarity.label}}</th>
                    {{/each}}
                  {{/if}}
                {{/each}}
              </tr>
            </thead>
            <tbody>
              {{#each components as |component key|}}
                <tr>
                  <th>{{localize component.label}}</th>
                  {{#each component.rarities as |rarity key|}}
                    <td>
                      <input type="number" name={{rarity.name}} value="{{rarity.value}}" />
                    </td>
                  {{/each}}
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/if}}
      </div>
    </fieldset>
  {{/if}}
</section>