<section class="tab background {{tab.cssClass}}" data-group="primary" data-tab="background">  

  <span><b>You must be in Edit Mode to edit these values.</b></span>

  <div class="background-area">
    {{#if isPlay}}
      <div class="grid grid-4col">
        {{formGroup systemFields.biography.fields.pronouns value=system.biography.pronouns name='system.biography.pronouns' stacked=true localize=true readonly=true}}
        {{formGroup systemFields.biography.fields.age value=system.biography.age name='system.biography.age' stacked=true localize=true readonly=true}}
        {{formGroup systemFields.biography.fields.height value=system.biography.height name='system.biography.height' stacked=true localize=true readonly=true}}
        {{formGroup systemFields.biography.fields.weight value=system.biography.weight name='system.biography.weight' stacked=true localize=true readonly=true}}
      </div>
      <div class="grid grid-2col">
        {{formGroup systemFields.biography.fields.edicts value=system.biography.edicts name='system.biography.edicts' stacked=true localize=true readonly=true}}
        {{formGroup systemFields.biography.fields.anathema value=system.biography.anathema name='system.biography.anathema' stacked=true localize=true readonly=true}}
      </div>
      <div class="grid grid-2col">
        {{formGroup systemFields.biography.fields.motivations value=system.biography.motivations name='system.biography.motivations' stacked=true localize=true readonly=true}}
        {{formGroup systemFields.biography.fields.phobias value=system.biography.phobias name='system.biography.phobias' stacked=true localize=true readonly=true}}
      </div>
      <div class="grid grid-3col">
        {{#each system.biographyFields}}
          {{formGroup (lookup ../systemFields.biography.fields this) value=(lookup ../system.biography this) name=(concat 'system.biography.' this) stacked=true localize=true readonly=true}}
        {{/each}}
      </div>
    {{else}}
      <div class="grid grid-4col">
        {{formGroup systemFields.biography.fields.pronouns value=system.biography.pronouns name='system.biography.pronouns' stacked=true localize=true}}
        {{formGroup systemFields.biography.fields.age value=system.biography.age name='system.biography.age' stacked=true localize=true}}
        {{formGroup systemFields.biography.fields.height value=system.biography.height name='system.biography.height' stacked=true localize=true}}
        {{formGroup systemFields.biography.fields.weight value=system.biography.weight name='system.biography.weight' stacked=true localize=true}}
      </div>
      <div class="grid grid-2col">
        {{formGroup systemFields.biography.fields.edicts value=system.biography.edicts name='system.biography.edicts' stacked=true localize=true}}
        {{formGroup systemFields.biography.fields.anathema value=system.biography.anathema name='system.biography.anathema' stacked=true localize=true}}
      </div>
      <div class="grid grid-2col">
        {{formGroup systemFields.biography.fields.motivations value=system.biography.motivations name='system.biography.motivations' stacked=true localize=true}}
        {{formGroup systemFields.biography.fields.phobias value=system.biography.phobias name='system.biography.phobias' stacked=true localize=true}}
      </div>
      <div class="grid grid-3col">
        {{#each system.biographyFields}}
          {{formGroup (lookup ../systemFields.biography.fields this) value=(lookup ../system.biography this) name=(concat 'system.biography.' this) stacked=true localize=true}}
        {{/each}}
      </div>
      <div class="grid grid-1col">
        {{#if editable}}
          <prose-mirror name="system.description" data-document-u-u-i-d="{{item.uuid}}" value="{{system.description}}" collaborate="true" toggled="true">
            {{{enrichedDescription}}}
          </prose-mirror>
        {{else}} 
          {{{enrichedDescription}}}
        {{/if}}
      </div>
      <!-- {{formGroup systemFields.biographyFields name="system.biographyFields" value=system.biographyFields localize=true}} -->
    {{/if}}
  </div>
</section>