<section class="tab spellbook {{tab.cssClass}}" data-group="primary" data-tab="spellbook"> 

  <fieldset class="item-set">
    <legend>{{localize "UTOPIA.Actors.Items.Artistries"}} <i class="fas fa-magic"></i></legend>
    <div class="item-container">
      {{#each system.spellcasting.artistries as |value key|}}
        {{#if (eq value.unlocked true)}}
          <div class="item unlocked">
            <a><i class="fa-fw fas fa-magic"></i> {{capitalize key}}</a>
          </div>
        {{/if}}
      {{/each}}
    </div>
    <div class="item-container">
      {{#each system.spellcasting.artistries as |value key|}}
        {{#if (eq value.unlocked false)}}
          <div class="item locked">
            {{#if ../isPlay}}
              <a><i class="fa-fw fas fa-lock"></i> {{capitalize key}}</a>
            {{else}}
              <a data-action="unlockArtistry" data-artistry="{{key}}"><i class="fa-fw fas fa-lock"></i> {{capitalize key}}</a>
            {{/if}}
          </div>
        {{/if}}
      {{/each}}
    </div>
  </fieldset>

  <fieldset class="item-set" data-item="{{item.id}}">
    {{#if isPlay}}
      <legend>{{localize "UTOPIA.Actors.Items.Spells"}} <i class="fas fa-magic"></i></legend>
    {{else}}
      <legend data-action="createDocument" data-document-type="spell">{{localize "DOCUMENT.Create" type="Spell"}} <i class="fas fa-plus"></i></legend>
    {{/if}}
    <a data-action="openApplication" data-application="spellcraft"><i class="fas fa-magic"></i> {{localize "UTOPIA.Actors.Actions.OpenSpellcraft"}}</a>
    <div class="item-container">
      {{#each spells as |item|}} 
        <div class="item">
          <a data-action="roll" data-roll="item" data-item="{{item.id}}"><i class="fa-fw fas fa-magic"></i></a>
          <a class="action" data-action="viewDocument" data-document-id="{{item.id}}">
            <span class="item-name">{{item.name}} [{{item.system.cost}}]</span>
          </a>
        </div>
      {{/each}}
    </div>
  </fieldset>

</section>