<div class="chat-card">
  
  <div class="card-header">
    <img class="card-header-icon" src="systems/utopia/assets/damage.svg" title="Damage" width="30" height="30" />
    <h3>Damage</h3>
  </div>

  <div class="card-content">
    {{{item.system.description}}}
  </div>

  {{#each instances as |instance|}}
    {{> "damage-instance" instance}}
  {{/each}}

  {{#if template}}
    <button data-action="template" data-template="{{template}}"><i class='fa-solid fa-bullseye'></i></button>
  {{/if}}

  {{#if (eq system.damageDealt true)}}
    <div class="card-content">
      <p>{{localize "UTOPIA.Chats.DamageResponse.DamageDealt"}}</p>
    </div>
  {{/if}}

  <div data-visibility="gm" class="card-buttons">
    {{#if (and (gt (length instances) 1) (eq system.damageDealt false))}}
      <a data-action="dealAllDamage" data-target="target" data-percent="100"><i class="fa-fw fas fa-sword"></i> Full Damage</a>
      {{!-- <a data-action="dealAllDamage" data-target="target" data-percent="50"><i class="fa-fw fas fa-divide"></i> 1/2 Damage</a>
      <a data-action="dealAllDamage" data-target="target" data-percent="200"><i class="fa-fw fas fa-bomb"></i> Double Damage</a> --}}
      <a data-action="dealAllDamage" data-target="owner" data-percent="100"><i class="fa-fw fas fa-user"></i> Damage Owner</a>
    {{/if}}
  </div>

  <footer data-visibility="gm">
    <div class="targets">
      {{#each targets as |target|}}
        <img src="{{target.img}}" alt="{{target.name}}" width="40" height="40" data-tooltip="{{target.name}}" />
      {{/each}}
    </div>
  </footer>
</div>