<div class="dialog crafting-dialog">
  <p>You are missing the following components, please craft, forage, or harvest them before crafting this item.</p>

  <table>
    <thead>
      <tr>
        <th></th>
        {{#each componentTypes as |componentType|}}
          <th>{{localize componentType.label}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each rarityTypes as |rarity|}}     
        <tr>
          <th>{{localize rarity.label}}</th>
          {{!--
            Within each rarity row, iterate over componentTypes.
            Note: Using "../../components" because:
            - In the outer loop, the context is a rarity.
            - In the inner loop, the context is a componentType.
            - ../../ takes us back to the top-level context where "components" is defined.
          --}}
          {{#each ../componentTypes as |componentType|}}
            {{log componentType}}
            {{log rarity}}
            {{log ../../components}}
            {{!-- Lookup the value in the components object using the componentType and rarity keys --}}
            <td>
              {{lookup (lookup ../../components componentType.key) rarity.key}}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
